body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*----------------------------------navbar-----------------------------*/
.logi {
  width: 9rem;
  
}
.avas{
  overflow: hidden;
  z-index:1;
  display: flex;
  justify-content: space-between;
}
.serch {
  border-top: none;
  border-right: none;
  border-left: none;
color:white;
background-color:transparent;
  border-bottom: 3px solid red;
  margin-left:5.7rem;
}
#ava-serch{
  margin-right: 8.4rem;
}
#serch::placeholder {
 
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
#serch-drop{
  background-color:white;
  display:flex;
  margin-top: -2.2rem;
  
  margin-left:34rem;
  width:13rem;
  }
  .serch-tit{
    font-size:19px;
  
  
  }
  
  .serch-img{
    width:100px;
  }
  
  #heart{
    color:#e50914;
  }

  
    /*---------------------------------description----------------------------*/


    #h1 {
      font-size: 3rem;
    }
    #p {
      font-size: 25px;
    }
    
    #para {
      font-size: 19px;
    }
    #input {
      height: 60px;
      padding: 10px 10px 0;
      width: 100%;
    }
    
    .button {
      position: relative;
      font-size: 1.5em;
      min-width: 164px;
      min-height: 50px;
      color: #fff;
      background-color: #e50914;
      letter-spacing: 0.1px;
      border: 0;
    }

    .div {
      display: flex;
      justify-content: center;
    }



    /*-----------------------------------------------apropo section --------------------------*/
.apropo {
  background-color: black;
  height: 510px;
  margin-top: 8rem;
}
.apro-sec {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.cho {
  width: 90%;
}

.tit {
  color: #e50914;
  font-size: 3.125rem;
}
.ap-para {
  font-size: 1.625rem;
  color: rgb(255, 255, 255);
}
.aproo {
  display: flex;
  flex-direction: column;
}





/*------------------------------------------filter and trending cars and title--------------------------------------------*/
.tran-tit {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}
.allfilter{
  margin-top:4rem;
}

.ding {
  font-size: 3rem;
  background-color: transparent;
  color: #e50914;
  padding: 35px;

margin-top: 4rem;
}
#filter-serch{
margin-left: 11rem;

}
.new-serch{
  display: flex;
  justify-content: center;
  margin-left: -10rem;
}
.abdrahmen .fili{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.514)),
  url("./back.jpg");
background-repeat: no-repeat;
background-size: cover;

background-attachment: fixed;
}
.fils{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.514)),
  url("./back.jpg");
background-repeat: no-repeat;
background-size: cover;

background-attachment: fixed;
}


.abdrahmen .fili .background_6{
  padding: 20px;

}
#select-btn{
  background-color: #e50914;
color: #ffffff;
padding: 6px;
border: #000000 1px solid;
border-radius: 8%;
margin-left: 16rem;
}
#browsers{
  background-color:#e50914;
  color: #ffffff;
  border: #000000 1px solid;

}
.fili{
  background-color: #e50914;
}
#fil{
  margin-top: 2rem;
}

#brow{
  display: flex;
  justify-content: center;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.514)),
  url("./back.jpg");
background-repeat: no-repeat;
background-size: cover;

background-attachment: fixed;
}


#love{
  background-color: #e50914;
  border: none;
  color: #ffd014;
  height: 40px;
  border-left: #000000 3px dashed ;
  padding: 3%;
}

#kalb:hover{
 color: #000000;
}
#ding-sec{
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.514)),
  url("./back.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
min-height: 670px;
background-attachment: fixed;}

.background_6 {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.imdb_card {
  width: 990px;
  height: 480px;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  position: relative;
}
#crda{
  height: 560px;
  
}

.movie_poster {
  width: 350px;
  height: 350px;
  position: relative;
}

.movie_poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.movie_label {
  position: absolute;
  bottom: -37.5px;
  background: #e50914;
  color: white;
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.movie_label h2,
.movie_label h4 {
  margin: 0;
}

.movie_label h2 {
  font-size: 28px;
  margin-top: -3px;
}

.movie_label h4 {
  font-size: 13px;
  font-weight: 400;
}

.movie_content {
  width: 100%;
  height: calc(100% - 350px);
  padding: 45px 40px 0 30px;
}

.mov_specs {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.mov_specs i {
  font-size: 16px;
  margin-right: 8px;
  color: #ffd014;
}

.mov_specs p {
  white-space: pre;
}

.mov_description {
  font-size: 0.7rem;
  font-weight: 300;
}

.mov_description h3 {
  margin-top: 6px;
}

.buy_ticket {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.buy_ticket a {
  display: flex;
  align-items: center;
  background: #e50914;
  color: #f5c518;
  text-decoration: none;
  width: 210px;
  height: 45px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.buy_ticket a:hover {
  background: #e50914;
}

.buy_ticket  a:first-child {
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
}

.buy_ticket  a:last-child {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px dashed #121212;
}

.buy_ticket a:last-child svg {
  width: 25px;
}

/* DAY 5 -------------------*/
.checked {
  color: orange;
  font-size: 20px;
  margin-top: 10px;
}
.checke {
  font-size: 20px;
  margin-top: 10px;
}
.tit-start {
  color: orange;
}

#love{
  background-color: #e50914;
  border: none;
  color: #ffd014;
  height: 40px;
  border-left: #000000 3px dashed ;
  padding: 3%;
}

#kalb:hover{
 color: #000000;
}


/*--------------------------------------favourite---------------------------------------*/


#favi-cadrs{
  display: flex;
  background: transparent;

  flex-wrap: wrap;
  justify-content: space-around;
  }

.delete{
  background-color: #e50914;
  border:none;
  color: #fff;
  
  margin-left: 17.5rem;
  margin-top: -5rem;
}
#deleta{
  background-color: #e50914;
  border:none;
  color: #fff;
  
  margin-left: 17.5rem;
  

 
}
#all-cards{
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
}

/*---------------------------------------contact------------------------------------------*/
.contact-inputs{
  display: flex;
  flex-direction: column;
  margin-left: -2.8rem;
  border: #ffffff 2px solid; 
  border-radius: 4%;
  padding: 2rem;
  

}
.contact-inputs textarea{
  height: 9rem;
  

color:white;
background-color:transparent;
  border: 3px solid rgb(255, 255, 255);
  
}
.contact-inputs textarea::placeholder{
  color: #e50914;
}
.contact-inputs input{
margin-bottom: 20px;
border-top: none;
border-right: none;
border-left: none;
color:white;
background-color:transparent;
border-bottom: 3px solid rgb(255, 255, 255);

}
.contact-inputs input::placeholder{
  color:#e50914;
}
#contact-button{
  color: #e50914;
  background-color: #ffffff;
  border: #ffffff 2px solid; 
  margin-top: 25px;
}
  /*----------------------------------------------------------footer------------------------------------------------*/

.footer {
  background-color: black;
  line-height: 3rem;
  color: #757575;
  font-size: 13px;
  margin-top: 2rem;
}
#li {
  list-style: none;
}

.foot-link {
  display: flex;
  justify-content: space-between;
}
#buti {
  color: #757575;
  background-color: black;
  padding: 9px;
  border: 1px #757575 solid;
}

.glob {
  margin-bottom: 35px;
}